body {
	font-family: 'Baskervville', serif;
	font-size: 15pt;
	background-color: rgb(0, 0, 30);
	color: white;
	padding: 3rem 5rem 0rem 5rem;
	line-height: 1.5;
}

h1 {
	font-size: 50pt;
	font-weight: 700;
}
h2 {
	margin-bottom: -0.6rem;
	margin-top: 2.5rem;
}

a {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid;
}

.multiple-spaced {
	word-spacing: 5pt; /* Adjust the value as needed */
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
